/* CSS RESET */

/*  
*  Disables standard content-box sizing.
*
*/

*, *::before, *::after {
    box-sizing: border-box;
  }


/*  
*  Removes all default margin sets the line height to meet WCAG criteria.
*
*/

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}


/*
* Removes default inline display for media and fits media to its container.
*
*/

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
* Form controls will use parent's font.
*
*/

input, button, textarea, select {
  font: inherit;
}

/*
* Allows paragraphs to break words and add hyphens were necessary.
*
*/

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

/* CSS RESET END */

@font-face {
    font-family: 'rubiklight_italic';
    src: url('./fonts/rubik-italic-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/rubik-italic-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'rubiklight';
    src: url('./fonts/rubik-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/rubik-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --main-color: #0284c7;
    --secondary-color: #38bdf8;
    --primary-text-color: white;
}

body {
    font-family: rubiklight;
    color: var(--primary-text-color);
}

#page-container {
    height: 100vh;
    display: grid;
    padding: 1%;

    grid-template-columns: minmax(118px, 200px) 2fr 1fr;
    grid-template-rows: 1fr 3fr;
    gap: 20px;
}

#main-sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color:var(--secondary-color);
    grid-row: 1 / 3;
    border-radius: 25px;
    padding: 1rem;
}

h1 {
    font-size: 1.3rem;
}

#sidebar-logo {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
}

#sidebar-logo svg {
    height: 70px;
    width: 70px;
}

nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav ul {
    list-style-type: none;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
}

#header-wrapper {

    background-color: var(--main-color);
    grid-column: 2 / 4;
}

#main-content-section-wrapper {
 
    background-color: #159852;
    
}

#right-sidebars-wrapper {
    background-color: aqua;
}